table,th,td{
    border: solid 1px black;
}
table{
    width: 90%;
    font-size: 18px;
    text-align: center;
    margin-left: 5%;
}

td{
    padding: 5px;
}
th:not(.thunhap){
    background: #343a40;
    color: white;
    padding: 10px;
}
.thunhap{
    text-align: center;
}

/* Tìm kiếm */
.form-search{
    padding: 15px;
    background-color: #343a40;
}
.h5-search{
    font-size: 20px;
    margin-bottom: 2%;
    color: white;
}
.select{
    padding: 5px 0 5px 5px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: white;
}
.button{
    background-color: white;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
}
.button:hover{
    cursor: pointer;
}
input.select{
    margin-left: 5px;
}

label.label{
    color: white;
    font-size: 18px;
}

/*  */
.background-section{
    padding-bottom: 3% ;

}