table{
    margin-left: 5%;
    margin-top: 10px;
}
table, th, td {
    border:1px solid black;
    text-align: left;
}
th{
    background-color: black;
    color: white;
}
th,td {
    padding: 10px;
}
th, .stt{
    text-align: center;
}
.fa-solid{
    padding: 5px;
}
.background-section{
    padding-bottom: 16%;
}