th,td{
    padding-left:35px;
}
th{
    padding-bottom: 20px;
    font-size: 28px;
}
img:hover{
    cursor: pointer;
}
.container-editproducts {
    position: relative;
  }
  
  .image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container-editproducts:hover .image {
    opacity: 0.3;
  }
  
  .container-editproducts:hover .middle {
    opacity: 1;
  }
  
.text {
  background-color:aquamarine;
  color: black;
  font-size: 18px;
  padding: 16px 32px;
  cursor: pointer;
  border-radius: 5px;
}
.background-section{
  padding-bottom: 4%;
}
.text:hover{
  color: red;
}
img{
  filter: brightness(90%);
  width: 300px;
}
/* panigation */
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

  
