.row-banner{
    width: 1000px;
    margin-left: 17%;
}
.carousel-inner .carousel-item img {
    margin-top: 80px;
    border-radius: 5px;
    margin-bottom: 60px;
}
.carousel-control-prev-1, .carousel-control-next-1{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    background-color: black!important;
    margin-top: 250px;
    margin-bottom: 250px;
    width: 6%;
}
.carousel-control-next-1{
    margin-left: 94%;
}